body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-userHeader {
  position: absolute;
  margin-top: 7px;
}

.border-input {
  border: 1px solid gainsboro;
  outline: none;
  border-radius: 6px;

}

.border-input:hover {
  border-color: #40a9ff;
}

.border-input:focus{
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb( 24 144 255 /20% );
}

.card-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: rgb(0, 21, 41);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 0.5rem;
  width: 50vw;
  margin-top: 4rem;
  height: 80vh;
}

.card-register {
  display: flex;
  width: 80vw;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.label-register{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}


.card-register-inputs{
  display: flex;
}

.field-login {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  border-radius: 6px;
  outline: none;
  border: none;
}

.button-login {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  cursor: pointer;
  width: 260px;
  height: 35px;
  border-radius: 6px;
  outline: none;
  border: none;
  margin-top: 12px;
}
.button-login:hover {
  background: rgb(168,168,175);
  background: linear-gradient(90deg, rgba(168,168,175,1) 0%, rgba(226,226,231,1) 38%, rgba(236,236,240,1) 100%, rgba(81,84,84,1) 100%);
}

.a-login:hover {
  color:#799df1 ;
  font-size:16px;
  font-weight: 700;
  text-decoration: underline;
}

ul, li {
  list-style: none;
}

.p-userHeader{
  position: absolute;
  top: 7px;
  right: 15px;
}

.table {
  border: solid 1px black;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  width: 50%;
}

.d-flex {
  display: flex;
}

.field {
  margin: 4px;
}

.w-12 {
  width: 130px;
}
.input-field {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 28px;
  outline: none;
  opacity: 1;
}

.input-field:hover {
  border-color: #40a9ff;
}

.input-field:focus{
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb( 24 144 255 /20% );
}

//checkbox

.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #222);
  display: var(--toggleDisplay, inline-flex);
  position: relative;
}

.toggle__input{
  /*
  The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
  */
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/*
1. Calculation of the gap for the custom checkbox
*/

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}

/*
1. Ems helps to calculate size of the checkbox
*/

.toggle__label::after{
  content: "";
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize); /* 1 */

  background-color: transparent;
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.toggle__input:checked ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
}

.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle

1. Ems helps to calculate size and position of the arrow
*/

.toggle__label::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);

  position: absolute;
  top: .5428em;
  left: .25em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:checked ~ .toggle__label::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);

  width: .4em;
  height: .2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

/*
States
*/

/* focus state */

.toggle:focus-within{
  outline: var(--toggleOutlineWidthFocus, 1px) solid var(--toggleOutlineColorFocus, currentColor);
  outline-offset: var(--toggleOutlineOffsetFocus, 5px);
}

/* disabled state */

.toggle__input:disabled ~ .toggle__label{
  opacity: var(--toggleOpacityDisabled, .24);
  cursor: var(--toggleCursorDisabled, not-allowed);
  user-select: none;
}

/*
=====
PRESENTATION STYLES
=====
*/

/*
The demo skin
*/

.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}

/*
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label::before{
  will-change: width, height;
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  opacity: 1;
  transition: opacity .1s ease-out .25s, width .1s ease-out .5s, height .2s ease-out .3s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  will-change: background-color;
  transition: background-color .2s ease-out;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
  --toggleColor: #690e90;
  --toggleOutlineColorFocus: #690e90;
  --toggleSize: 2rem;
}


/*
=====
DEMO
=====
*/

.page__section{
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

.page__section:nth-child(n+2){
  margin-top: 3rem;
}

.page__custom-settings{
  --pageToggleTextFontSize: 1.25rem;
}

.page__name{
  width: 100%;
}

.page__name::first-letter{
  text-transform: uppercase;
}

.page__toggle{
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  font-size: var(--pageToggleTextFontSize);
}